.footer {
  font-size: 14px;
  color: $grey-dark;
  background-color: #222;

  img { border: none; }
}

.footer-inner { text-align: center; }

.family-site {

  .rlibro {
    margin-right: 10px;
    padding-right: 10px;
    //border-right: 2px solid #ccc;
  }

  a {
    color: #ccc;
    text-decoration: none;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }
  
}

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by,
.theme-info { display: inline-block; }

.powered-by {
  margin-right: 10px;

  &::after {
    content: "|";
    padding-left: 10px;
  }
}

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}
