// Custom styles.
body {
  font-size: 16px;
}

.post-header {
  .post-title {
    color: #000;
    font-weight: bold;
  }

  .post-subtitle {
    text-align: center;
    color: #222;
  }

  .post-meta {
    
    .post-description {
      text-align: left;
    }
  }
}

.posts-expand
.post-body {

  .post-cover {
    padding: 0 30px 20px 30px;

    img {
      border: none;
    }
  }

  blockquote {
    border: none;
  }

  h2 {
    padding-top: 0px;
    padding-left: 13px; 
    border-left: solid 5px #555;
    font-size: 22px;
  }


  p {
    margin-bottom: 50px;
    line-height: 1.8em;
    padding-left: 15px;

    &.image {
      margin-bottom: 5px;
      border: none;

      img {
        border: none;
      }
    }
   
    &.image-caption em {
      font-style: normal;
      font-size: 13px;
      color: #666;
      font-weight: normal;
    }
   
    &.question {
      color: #222;
      margin-bottom: 15px;
      padding: 0;
    }

    &.interviewee {
      text-align: left;
    }
  }

}


#profile {
  // background-image: url(/assets/images/about.jpg);
  // background-size: cover;

  .photo {
    //margin: 50px auto;
    padding: 0 20px;
   img {
    //  box-shadow: 1px 1px 1px #222;
    //  border-radius: 5px;
//      width: 150px;
  //    height: 150px;
    }
  }

  .about-me {
    padding: 15px;
    text-align: justify;
  }
}

.summary-link {
  &:hover * {
    // color: #000;
    text-decoration: underline;
  }
}